.top{
    position: relative;
    min-height: 40rem;
    max-height: 5rem;

}
.top .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 65.5%;
    object-fit: cover;
    width: 100%;
}
.top .center-content{
    position: absolute;
    bottom: calc(50% - 11.1rem);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.top .main-logo{
    height: 3.5rem;
    width: 18rem;
    position: relative;
    margin-bottom: 22rem;
}

  h1{
        color:  white; 
        font-size: 36px;
        margin-left: 1rem;
        text-align: center;
        padding-top: 13rem;
        padding-right: 10 rem;
        font-weight: 1;
        font-family: Arial, Helvetica, sans-serif ;
          
        

 }
  .search_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #af2121;
    padding : 21px;
    width: 50rem;
    margin: 29px;
    margin-top: 3rem;
    margin-left: 25rem;
    border-radius:0.5rem;
    box-shadow: 1rem;
    height: 3rem;
    
}  
main .top .search_container input{
    border: none;
    justify-content: space-around;
    margin-left: rem;
    

   
}
main .top .search_container > div{
    display: flex;
    padding:  1rem;
    align-items: center;
    padding:  rem;
    justify-content: space-bet;

}
main .top .search_container .location{
    width: 17rem;
    padding:  0.1rem;
    justify-content: space-around;

}
main .top .search_container svg{
    color: red;
}
main .top .search_container .line{
    width: 0rem;
    height: 2rem;
    border: 0.05rem rgb(26, 6, 6); 
    display: flex;
    justify-content:center;
}





