.options{
    display: flex;
    flex-direction: row;
}

.option{
    width: 100%;
    flex: 1;
    height: 24rem;

}

.image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}